@use '../variables.scss';

.blog-entry__intro {
    display: flex;
    column-gap: 10px;
    width: 50vw;
    padding: 40px 0;
    margin: 0 25vw;
}

// .blog-entry__header {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     width: 100vw;
//     height: 75vh;
//     text-align: center;
//     background-image: url(../images/blog2.avif);
//     background-position: center;
//     background-size: cover;
// }

// .blog-entry__header:has(.blog-entry__author) {
//     box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.263);
// }

// .blog-entry__author {
//     color: $bg-white;
// }

// .blog-entry__author-link {
//     color: $secondary;
//     text-decoration: none;

//     &:hover {
//         color: $blue;
//         text-decoration: underline;
//     }
// }

.blog-entry__quote {
    width: 40%;
    margin-bottom: 0;
    font-size: 24px;
    font-style: italic;
}

.blog-entry__intro-text {
    width: 60%;
    text-align: justify;
}

// .blog-entry__paragraph {
//     width: 100%;
//     overflow: hidden;
// }

// .blog-entry__img {
//     width: 60vw;
//     padding: 20px 0;
//     margin-bottom: 20px;
// }

@media (max-width: 1000px) {
    .blog-entry__intro {
        flex-direction: column;
        padding-top: 30px;
    }

    .blog-entry__quote,
    .blog-entry__intro-text {
        width: 100%;
    }

}

.blog-entry__list {
    width: 50vw;
    margin: 0 25vw;
}

.list-group-item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    align-items: baseline;
}

// .blog-entry__content {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     width: 50vw;
//     margin: 0 25vw;
// }

// .blog-entry__content-quote {
//     padding: 20px 0;
//     font-size: 24px;
//     font-style: italic;
// }

@media(max-width: 824px) {
    .blog-entry__img {
        width: 80vw;
        padding: 0 10px;
    }

    .blog-entry__content,
    .blog-entry__list,
    .blog-entry__intro {
        width: 70vw;
        padding: 0 10px;
        margin: 0 15vw;
    }
}

@media(max-width: 564px) {

    .blog-entry__content,
    .blog-entry__list,
    .blog-entry__intro {
        width: 90vw;
        margin: 0 5vw;

    }
}