@use '../variables.scss';

form {
    padding: 30px;
    margin: 5px;
    border: 3px solid rgba(100, 100, 111, 0.445);
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.join__main {
    width: 50cqw;
    margin: 0 25cqw 50px;
}

.join__title {
    width: 100%;
    padding: 50px 0 10px 0;
    text-align: center;
}


.join__input:focus {
    border-color: hsl(70%, 100%, 50%);
    outline: 0 none;
    box-shadow: 0 1px 1px hsl(70%, 100%, 50%) inset, 0 0 8px hsl(70%, 100%, 50%);
}

@media (max-width:1000px) {
    .join__main {
        width: 80cqw;
        margin: 0 10cqw 50px;
    }
}

@media (max-width:600px) {
    .join__main {
        width: 100cqw;
        padding: 0 10px;
        margin: 20px 0 0 0;
    }
}