.members {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    width: 80vw;
    padding-bottom: 20px;
    margin: 0 10vw;
}

.members__title {
    width: 100%;
    padding: 50px 0 10px 0;
    color: $primary;
    text-align: center;
}

.members__grid-item {
    flex-basis: 330px;
}

.members__img {
    object-fit: cover;
    width: 100%;
    vertical-align: middle;
    border-radius: 5px;
}