<footer class="footer">
    <div class="footer__social">
        <i class="fa-brands fa-facebook"></i><i class="fa-brands fa-instagram"></i><i class="fa-brands fa-twitter"></i>
    </div>
    <div class="footer__credits">
        <div class="footer__credit">&copy; Yesenia Martínez Acevedo</div>
        <div class="footer__credit"> Icons made by <a href="https://www.freepik.com" title="Freepik"> Freepik </a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a>
        </div>
        <div class="footer__credit">Photo by <a
                href="https://unsplash.com/@jakenackos?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Jake
                Nackos</a> on <a
                href="https://unsplash.com/photos/green-grass-field-during-daytime-C2PCa6DhlYE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </div>
    </div>
</footer>