<footer class="w-[100dvw] mt-[70px] px-[10vw] py-0">
    <div class="flex gap-x-2.5 pb-2.5">
        <i class="fa-brands fa-facebook"></i><i class="fa-brands fa-instagram"></i><i class="fa-brands fa-twitter"></i>
    </div>
    <div class="px-0 py-2.5 border-t-[rgba(128,128,128,0.5)] border-t border-solid">
        <div class="text-xs text-[gray]">&copy; Yesenia Martínez Acevedo</div>
        <div class="text-xs text-[gray]"> Icons made by <a href="https://www.freepik.com" title="Freepik"> Freepik </a>
            from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a>
        </div>
        <div class="text-xs text-[gray]">Photo by <a
                href="https://unsplash.com/@jakenackos?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Jake
                Nackos</a> on <a
                href="https://unsplash.com/photos/green-grass-field-during-daytime-C2PCa6DhlYE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </div>
    </div>
</footer>