<header class="shadow-[0_1px_6px_#20212447]">
    <div
        class="flex-col justify-center px-0 py-2.5 items-center w-[80dvw] flex mx-[10dvw] my-[5px] justify-end lg:flex-row lg:justify-between lg:items-center lg:py-0">
        <div class="items-center flex">
            <img class="h-10 mr-[5px]" src="./assets/images/logo-green.png" alt="logo" />
            <span class="font-heading text-green text-[35px] -mt-2 p-0">Solstice Tennis Club</span>
        </div>
        <ul class="flex justify-center items-center flex-row text-green flex-wrap flex mb-0 pl-0 px-4 py-2">
            <li class="nav-item">
                <a class="no-underline block px-4 py-2 border-0 active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="no-underline block px-4 py-2 border-0" href="./blog.html">Blog</a>
            </li>
            <li class="nav-item">
                <a class="button-secondary" href="./join.html">Join Us!</a>
            </li>
        </ul>
    </div>
</header>