@use 'variables.scss';

* {
    box-sizing: border-box;
}

body {
    @apply font-body;
}

h1,
h2,
h3,
h4,
h5 {
    @apply font-heading text-green;
}


@layer components {
    .num-list-item {
        @apply flex-wrap border-t-0 items-baseline gap-x-2.5 flex border no-underline block relative px-4 py-2 border-solid border-[#c2c4c3] last:rounded-b first:rounded-t first:border-t;
    }

    .button-secondary {
        @apply font-form text-green border-green text-base font-normal leading-normal border px-3 py-1.5 rounded-md hover:text-white hover:bg-green;
    }

    .button-primary {
        @apply font-form text-white border-green bg-green text-base font-normal leading-normal border px-3 py-1.5 rounded-md hover:text-green hover:bg-white;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}