@use "sass:color";

//Bootstrap variables
$font-family-sans-serif: 'Noto Sans', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";

$headings-font-family: 'Vina Sans', sans-serif;
$input-btn-font-family: 'Ubuntu',
  sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$secondary: #F7E733;
$primary: #324835;

//Custom Variables
$bg-white: #F7F7F9;
$body-bg: $bg-white;
$blue: #00E0D5;
$mqMinWidth: 420px;